<!DOCTYPE html>
<html lang="en">
<head>
  <title>WSNH - completed message after fill documents</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="icon" sizes="16x16" type="image/png" href="https://th.bing.com/th/id/R.b10e96c930666f016df733b3d0708384?rik=8mEriFTINweOgQ&riu=http%3a%2f%2fwww.pngplay.com%2fwp-content%2fuploads%2f1%2fLetter-W-PNG-Stock-Photo.png&ehk=TaMIw3MiRv29LoFRD1wBx0E8Bgzb7lQI9PxejqN%2bDMk%3d&risl=&pid=ImgRaw&r=0">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <header>
        <div class="p-5 bg-color text-white text-center">
            <h1>WORK SMARTER/</h1>
            <p>NOT HARDER</p> 
        </div>
    </header>

<main>
    <nav class="sticky-top navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/recruiter">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/recruiter/liste_offres">Chercher des offres</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/recruiter/mes_candidatures">Mes Candidatures</a>
            </li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link button-important" href="/recruiter/recruitermode">Recruter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/deconnexion">Déconnexion</a>
            </li>
        </ul>
        </div>
    </nav>

    <div class="fluid-container red-pannel border-top-0 border-bottom-0">
		<h1 class="text-center"><%= offre[0].titre %> - <%= offre[0].nom %></h1>
		<div class="row info-list-style space">
			<div class="col p-3 bg-dark detail-offer">
					<h3 class="text-white">Candidature finalisée !</h3>
					<br><br>
					<p class="text-white description">
					Votre candidature a bien été reçue. En attendant de potentielles réponses, vous pouvez continuer à chercher et à postuler à des offres en appuyant sur "Continuer" :) ! 
					</p>
					<div class="bouton-candidater-encadre row info-list-style space">
						<div class="col p-3 bg-dark detail-offer text-center">
							<a class="text-white" href="/recruiter/liste_offres">Continuer</a>
						</div>
					</div>
				</div>
            </div>
    </div>
   
</main>

<footer>
    <div class="p-4 bg-dark text-white text-center">
        <p>SR10 - Oriane LANFRANCHI & William SCHENTEN</p>
    </div>
</footer>

</body>
</html>